.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  input{
    width: 100%;
    height: 25px;
  }
  
  .otp-card {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border: 1px solid rgb(33, 214, 39);
    padding: 20px;
  }
  
  .tagname {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .otp {
    margin-bottom: 20px;
  }
  
  .verify-otp-button {
    width: 100%;
  
  }
  
  .resend-otp {
    text-align: center;
    margin-top: 10px;
  }
  
  .resend-otp a {
    color: 1px solid rgb(33, 214, 39);
    text-decoration: none;
  }
  
  .resend-otp a:hover {
    text-decoration: underline;
  }
  