
*{
  font-size: 0.875rem;
  // font-family: 'Gudea',"Helvetica Neue",HelveticaNeue-Light,Helvetica,Arial,sans-serif !important;
}
// .header-tag{
//   display: flex;
// }

// .card-heading{
//   margin-bottom: 8px;
// }

.document-card{
  display: flex;
  justify-content: space-between;
  height: 22px;
}

.header-tag {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  background-color: #f6fafb;
  z-index: 1;
  top: 0;
  // margin-top: 12px ;
  // bottom: 10px;
  // margin: 9px 0px;
}

// .tagname {
//   font-size: 16px;
// }

.tagname {
  text-align: center;
  font-size: 36px;
  font-family: inherit;
  margin-top: 10px;
}
.mat-mdc-table .mdc-data-table__header-row {
  height: 40px;
}

.mat-mdc-table .mdc-data-table__row {
  height: 30px;
}

tr th, td{
  font-size: inherit;
  font-family: inherit;
}
tr th{
  // font-weight: 600;
  color: blue;
}

.form-card-row{
  display: grid;
  grid-template-columns: repeat(4, 0.5fr);
}

.form-card-group {
  mat-label {
    display: block;
    color: #0136ff;

    &.label-value {
      color: black !important;
    }
  }
}

.table-container {
  display: flex;
}

.table {
  flex: 1; 
  margin-left: 20px;
  margin-right: 15px;
}

.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 4px 0px;
  background-color: #f0f0f0;
  border-bottom: 1px solid #ccc;
}

mat-card-content{
  padding: 0px !important;
}

.btn-rounded{
  padding-left: 1.2em;
  padding-right: 1.2em;
  border-radius: 500px;
  background-color: #002bff;
  color: white;
  border: 0px;
}

mat-divider {
  display: block;
  margin: 0;
  margin-bottom: 12px;
  border-top-width: 0.5px;
  border-top-style: dotted;
}