

* {
    font-size: 0.875rem;
  }
  
  .details h2 {
    color: #4caf50;
    border-bottom: 2px solid #4caf50;
    padding-bottom: 5px;
  }
  
  .details p {
    margin: 5px 0;
  }
  
  
  .table-container {
    display: flex;
  }
  
  .main-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0% 1%;
  }
  
  .document-card {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
  }
  
  .form-card-row {
    display: grid;
    grid-template-columns: repeat(4, 0.5fr);
  }
  
  .form-card-group {
    mat-label {
      display: block;
      color: black;
      font-weight: bold;
  
      &.label-value {
        color: black !important;
      }
    }
  }
  
  .form-group mat-label {
    display: block;
    color: black;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .table {
    // flex: 1; 
    // margin-left: 20px;
    // margin-right: 15px;
    table {
      margin-top: 12px;
      // border: 1px solid rgba(0, 0, 0, 0.12);
    }
  }
  
  
  .table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #ccc;
    line-height: 1.5;
  }
  
  .table-header .filter-card {
    display: flex;
    align-items: center;
    width: 90%;
  }
  
  .mat-label {
    margin-right: 10px;
  }
  
  input {
    padding: 0.25rem 0.5rem;
    // margin-bottom: 15px;
    border-radius: 0.25rem;
    border-color: rgba(120, 130, 140, .2);
    display: block;
    width: 100%;
    line-height: 1.25;
    border: 1px solid rgba(0, 0, 0, 0.15);
  }
  
  .tagname {
    text-align: center;
    font-size: 36px;
    font-family: inherit;
    margin-top: 10px;
  }
  
  .mat-mdc-table .mdc-data-table__header-row {
    height: 40px;
  }
  
  .mat-mdc-table .mdc-data-table__row {
    height: 30px;
  }
  
  tr th, td{
    // font-size: 12px;
    background-color: #f6fafb;
  }
  tr th {
    // font-weight: 600;
    color: black;
  }
  
  .filter-input {
    flex-grow: 1;
    margin-right: 10px;
  }
  
  .table>:not(caption)>*>* {
    padding: 0px;
  }
  
  
  .details {
    flex-shrink: 0;
    width: 60%;
    margin: 0% 1%;
  }
  
  .details h2 {
    color: #4caf50;
    border-bottom: 2px solid #4caf50;
    padding-bottom: 5px;
  }
  
  .details p {
    margin: 5px 0;
  }
  
  .form-group {
    // margin: 0px 5px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .form-row {
    display: flex;
    width: 100%;
    align-items: center;
  }
  
  .form-group mat-label {
    margin: 0px 6px;
  }
  
  mat-divider {
    display: block;
    margin: 0;
    margin-bottom: 12px;
    border-top-width: 0.5px;
    border-top-style: dotted;
  }
  
  .btn-rounded {
    padding-left: 1.2em !important;
    padding-right: 1.2em !important;
    border-radius: 500px;
    background: #bcbec0;
    color: black;
    border: none;
    height: 22px !important;
  }