.row{
    // display: flex;
    // flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .btn-rounded{
    // padding-left: 1.2em;
    // padding-right: 1.2em;
    border-radius: 500px;
    background: #bcbec0;
    color: black;
    border: none;
  }

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table, th, td {
    border: 1px solid black;
  }