
@media screen and (min-width:1200px) {
 
    .pwd-filter{
        width:50% ;
    }
  }
  
  
  @media screen and (max-width:1199px) {
    
    .pwd-filter{
        width:100% ;
    }  
  }

  .tagname {
    text-align: center;
    font-size: 30px;
    font-family: inherit;
  }