*{
    font-size: 12px;
  }
  .table-container {
      display: flex;
    }
    
    .table {
        // display: flex;
        // margin-left: 20px;
        // width: 95%;
        flex: 1; 
        margin-left: 20px;
       // width: 0%;
       margin-right: 15px;
    
    }
    
    // .mat-elevation-z8{
    //   // width: 70%;
    // }
    
    .tagname{
      text-align: center;
      font-size: 16px;
    }
    
    .table-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 4px 0px;
      background-color: #f0f0f0;
      border-bottom: 1px solid #ccc;
    }
  
    .mat-mdc-table .mdc-data-table__header-row {
      height: 40px;
    }
    
    .mat-mdc-table .mdc-data-table__row {
      height: 30px;
    }
  
    tr th{
      // font-weight: 600;
      color: blue;
    }
  
    
  
    
    .details {
      flex-shrink: 0; 
      width: 50%;
      margin-left: 10px; 
    } 
    
    .details h2 {
      color: #4caf50;
      border-bottom: 2px solid #4caf50;
      padding-bottom: 5px;
    }
    
    .details p {
      margin: 5px 0;
    }
  
    /* Add this to your global styles file (styles.css) */
  .mat-card {
      margin: 15px;
      border-radius: 4px;
    }
    
    .header {
      // background-color: #1976D2;
      color: black;
      padding: 10px;
      border-radius: 4px;
    }
  
    .case-details-row span {
      display: inline-block;
      width: 120px;
      margin-right: 8px;
    }
    
    .case-details-row span:last-child {
      margin-right: 0; 
    }
    
    .button-group {
      grid-column: span 2;
      // margin-top: 16px;
      margin: 5px 16px 12px;
      padding: 10px;
      text-align: right;
    }
    
    .button-group button {
      margin-left: 8px;
      height: 30px;
      border-radius: 25px;
    }
    /* Optionally, you can customize the span styles if needed */
    .case-details-row span {
      flex: 1;
    }
  
    .disabled {
      opacity: 0.5; /* or any other styles to visually indicate the disabled state */
      pointer-events: none; /* Prevent interactions with the disabled row */
    }
  
    .form-row{
      display: grid;
      grid-template-columns: repeat(5, 0.5fr);
    }
    
  
    .form-group mat-label {
      display: block;
      color: #0136ff
    }
  
    .label-value{
      color: black !important;
    }
  
    
    .form-group input{
      width: 90%;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }
  
    