



*{
    font-size: 0.875rem;
  }
  
  .table-container {
    display: flex;
  }
  
  .table {
    margin-left: 20px;
    margin-right: 15px;
    table{
      border: 1px solid rgba(0, 0, 0, 0.12);
      // background: #f6fafb;
    }
    tr th{
      // color: blue;
      color: black;
    }
  }
  
  .table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #ccc;
    line-height: 1.5;
  }
  
  .table-header .filter-card {
    display: flex;
    align-items: center;
    width: 90%;
    margin-left: -6px;
  }
  
  
  input {
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    border-color: rgba(120,130,140,.2);
    display: block;
    width: 100%;
    line-height: 1.25;
    border: 1px solid rgba(0,0,0,0.15);
  }
  
  .tagname {
    text-align: center;
    font-size: 30px;
    font-family: inherit;
  }
  .main-container{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-right: 3.5rem;
  }
  
  .mat-mdc-table .mdc-data-table__header-row {
    height: 40px;
  }
  
  .mat-mdc-table .mdc-data-table__row {
    height: 30px;
  }
  
  .select{
    margin-left: 28px;
    width: 20%;
  }
  
  .select-user{
    width: 20%;
  }
  .select mat-select, .select-user mat-select{
    padding: 1px 0.5rem;
    // margin-bottom: 15px;
    border-radius: 0.25rem;
    border-color: rgba(120,130,140,.2);
    display: block;
    width: 90%;
    line-height: 1.25;
    border: 1px solid rgba(0,0,0,0.15);
  }
  
  .btn-rounded {
    // display: inline-flex;
    padding: 4px;
    padding-left: 1.2em !important;
    padding-right: 1.2em !important;
    // border-radius: 500px;
    // background-color: #002bff;
    // color: white;
    background-color: #bcbec0;
    color: black;
    border: 0px;
    width: 20px;
    margin: 10px;
    height: 30px;
  }
  .row {
    margin-bottom: 10px; /* Adjust the margin between rows */
  }
  
  .col-sm {
    margin-bottom: 10px; /* Adjust the margin between columns */
  }
  
  /* Optionally, you can set padding for the textarea to control its appearance */
  .col-sm textarea {
    padding: 5px;
  }
  
  /* Adjust the margin between the button and the previous element */
  .col-sm button {
    margin-top: 5px;
  }
  mat-icon {
    // margin-right: 8px; 
    margin-left: -8px;
    font-size: 24px;
  }
  .load-btn {
    
    width: 142px;
    // background:#002bff ;
    // border-radius: 500px;
    // color: white;
    background-color: #bcbec0;
    color: black;

   border: none;
  }