*{
    font-size: 0.875rem;
  }
  
  
  .grid-content {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 16px;
    align-items: center;
  }
  
  
  .mat-select,
  .mat-input-container {
    width: 100%;
  }
  
  .form-group select, mat-select {
    padding: 1px 0.5rem;
    border-radius: 0.25rem;
    border-color: rgba(120,130,140,.2);
    display: block;
    width: 90%;
    line-height: 1.25;
    border: 1px solid rgba(0,0,0,0.15);
  }
  
  .table-container {
    display: flex;
  }
  
  .table {
    margin-left: 20px;
    margin-right: 15px;
    table{
      border: 1px solid rgba(0, 0, 0, 0.12);
      // background: #f6fafb;
    }
    tr th{
      // color: blue;
      color: black;
    }
  }
  
  .table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #ccc;
    line-height: 1.5;
  }
  
  .table-header .filter-card {
    display: flex;
    align-items: center;
    width: 90%;
  }
  
  
  input {
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    border-color: rgba(120,130,140,.2);
    display: block;
    width: 100%;
    line-height: 1.25;
    border: 1px solid rgba(0,0,0,0.15);
  }
  
  .tagname {
    text-align: center;
    font-size: 30px;
    font-family: inherit;
    margin-top: 10px;
  }
  
  .mat-mdc-table .mdc-data-table__header-row {
    height: 40px;
  }
  
  .mat-mdc-table .mdc-data-table__row {
    height: 30px;
  }
  
  .btn-rounded {
    flex: 1;
    // width: 25% !important; /* Example with !important */
    padding: 4px;
    padding-left: 1.2em !important;
    padding-right: 1.2em !important;
    // border-radius: 500px;
    // background-color: #002bff;
    // color: white;
    background-color: #bcbec0;
    color: black;
    border: 0px;
  }
  
  .form-group .btn-rounded{
    margin-top: 18px;
  }
  
  mat-icon{
    font-size: 1.5rem;
  }
  
  .table>:not(caption)>*>*{
    padding-left: 0px;
  }
  