
*{
    font-size: 0.875rem;
    // font-family: 'Gudea',"Helvetica Neue",HelveticaNeue-Light,Helvetica,Arial,sans-serif !important;
  }
  // .header-tag{
  //   display: flex;
  // }
  
  // .card-heading{
  //   margin-bottom: 8px;
  // }
  //venky 10/10 added main container class
  .main-container{
    margin: 0px 2rem;
  }
  
  .document-card{
    display: flex;
    justify-content: space-between;
    height: 22px;
  }
  
  // .header-tag {
  //   display: flex;
  //   justify-content: space-between;
  //   align-items: center;
  //   position: sticky;
  //   z-index: 1;
  //   top: 0;
  // }
  .header-tag {
    display: flex;
    // venky 10/10 changed space-between to end
    justify-content: end;
    align-items: center;
    position: sticky;
   
    z-index: 1;
    top: 0;
    // margin-top: 12px ;
    // bottom: 10px;
    // margin: 9px 0px;
  }
  
  // aaded on  15/2/24 --> Navin
  .tagname {
    text-align: center;
    font-size: 36px;
    font-family: inherit;
    margin-top: 10px;
  }
  .main{
    height: calc(100vh - 30px); /* Adjust this value to leave space for the footer */
    overflow-y: auto;
  }
  
  .mat-mdc-table .mdc-data-table__header-row {
    height: 40px;
  }
  
  .mat-mdc-table .mdc-data-table__row {
    height: 30px;
  }
  
  tr th, td{
    font-size: inherit;
    font-family: inherit;
  }
  tr th{
    // font-weight: 600;
    color: blue;
  }
  
  .right-container {
    display: flex;
    // align-items: center;
    justify-content: flex-end;
    width: 98%;
  }
  
  .right-inner-container {
    display: flex;
    gap: 10px; 
  }
  .case-details-row span {
      display: inline-block;
      width: 120px;
      margin-right: 8px;
    }
    
    .case-details-row span:last-child {
      margin-right: 0; 
    }
  
  
  .mat-grid-list {
    margin: -8px; 
  }
  .custom-form {
    // max-width: 600px;
    margin: 0 auto;
    // padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
   
  }
  
  .form-card-row{
    display: grid;
    grid-template-columns: repeat(4, 0.5fr);
  }
  
  .form-card-group {
    mat-label {
      display: block;
      color: #0136ff;
  
      &.label-value {
        color: black !important;
      }
    }
  }
  
  .form-group mat-label {
    display: block;
    color: #0136ff;
    margin-bottom: 0.5rem;
  }
  
  .form-group input,
  .form-group textarea{
    padding: 0.25rem 0.5rem;
    margin-bottom: 15px;
    border-radius: 0.25rem;
    border-color: rgba(120,130,140,.2);
    display: block;
    width: 90%;
    line-height: 1.25;
    border: 1px solid rgba(0,0,0,0.15);
  }
  
  .form-group mat-checkbox{
    width: 90%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .form-group select, .form-group mat-select {
    padding: 1px 0.5rem;
    margin-bottom: 15px;
    border-radius: 0.25rem;
    border-color: rgba(120,130,140,.2);
    display: block;
    width: 90%;
    line-height: 1.25;
    border: 1px solid rgba(0,0,0,0.15);
  }
  
  .table-container {
    display: flex;
  }
  
  .table {
    flex: 1; 
    margin-left: 20px;
    margin-right: 15px;
  }
  
  .table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 4px 0px;
    background-color: #f0f0f0;
    border-bottom: 1px solid #ccc;
  }
  
  .mat-expansion-panel-header{
    padding: 0px;
  }
  
  ::ng-deep .mat-expansion-panel-body {
    padding: 0px !important; 
    overflow-x: scroll;
  }
  
  .form-footer-row{
    display: grid;
    grid-template-columns: repeat(4,1fr);
  }
  .form-footer-group mat-select,
  .form-footer-group input,
  .form-footer-group textarea{
    width: 90%;
    padding: 2px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  mat-card-content{
    padding: 0px !important;
  }
  
  .btn-rounded{
    padding-left: 1.2em;
    padding-right: 1.2em;
    border-radius: 500px;
    background-color: #002bff;
    color: white;
    border: 0px;
  }
  
  .btn-rounded-1{
    border-radius: 500px;
    background-color: #002bff;
    color: white;
    border: 0px;
  }
  
  mat-divider {
    display: block;
    margin: 0;
    margin-bottom: 12px;
    border-top-width: 0.5px;
    border-top-style: dotted;
  }
  .footer-tag {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Adjust as needed */
  
    select {
        width: auto; /* Adjust as needed */
        margin-right: 10px; /* Adjust margin */
    }
  
    .input-group {
        flex: 1;
        display: flex;
        align-items: center;
  
        button {
            margin-right: 10px; /* Adjust margin */
            background: none;
            border: none;
            cursor: pointer;
        }
  
        input {
            flex: 1;
            padding: 0.5rem;
            border: none;
            border-top: 1px solid rgba(0, 0, 0, 0.15);
            outline: none;
        }
    }
  }
  
  // .footer-tag {
  //   position: sticky;
  //   bottom: 0;
  //   display: flex;
  //   height: 30px;
  
  //   .input-group {
  //     position: relative;
  //     display: flex;
  //     align-items: center;
  
  //     input {
  //       width: 100%;
  //       padding: 0.5rem 0.5rem;
  //       border: none;
  //       display: block;
  //       border-top: 1px solid rgba(0, 0, 0, 0.15);
  //       outline: none;
  //     }
  //   }
  
  //   .inner-footer {
  //     position: absolute;
  //     top: 50%;
  //     right: 10px; /* Adjust the value for the desired distance from the right edge */
  //     transform: translateY(-50%);
  //     display: flex;
  
  //     i {
  //       margin-left: 10px; /* Adjust the value for the desired space between icons */
  //       cursor: pointer;
        
  //       &.fa {
  //         color: #333; /* Set your desired color */
  //         font-size: 16px; /* Set your desired font size */
  //       }
  //     }
  //   }
  // }
  
  
  
  .document-card-2 {
    display: flex;
    justify-content: space-between; /* Creates space between left and right button groups */
    align-items: center;
      // venky 10/10 added margin
      margin: 20px 0px;
  }
  
  .right-buttons {
    display: flex;
    gap: 20px; /* Adds space between buttons */
    margin-right: 20px;
  }
  
  .left-buttons {
    display: flex;
    gap: 20px; /* Adds space between buttons */
    margin-left: 20px;
  }
  
  .btn-rounded-2 {
    margin: 3px;
    height: 38px;
    padding: 10px 20px;
  }
  
  
  .btn-rounded-2 {
    padding: 10px 20px; /* Adjust the padding for proper width */
    border-radius: 500px;
    background-color: #002bff; /* Set a background color */
    color: white; /* Set text color */
    border: none; /* Remove border */
    cursor: pointer;
  
  }
  ///////////////////
  
  
  // venky 10/10 added css
  ::ng-deep .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
    padding-bottom: 0px;
  }
  
  ::ng-deep .mat-mdc-form-field-subscript-wrapper{
    position: absolute !important;
  }
  .password-icon {
    position: absolute;
    right: 10px;
    top: 60%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #555;
    }

    .form-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* Adjusts to fit three fields per row */
        gap: 16px; /* Adds spacing between fields */
      }
      
      .form-group {
        display: flex;
        flex-direction: column;
      }
      