<div class="table-container">
    <div class="main-container"> 
        <p class="tagname">Roles</p>
         <mat-divider style="margin: 3px; color: aqua; background-color: #33BABC;" ></mat-divider>

        <div class="table">
            <div class="header">
                <div class="table-header">
                    <div class="filter-card">
                      <input matInput (keyup)="applyFilter($event)" placeholder="Search" #input>
                    </div>
                    <button class="btn-rounded" (click)="addButtonClicked()">
                        <!-- <mat-icon class="icon-display">add</mat-icon> -->
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </button>
                  </div>
                <div >
                    <table mat-table [dataSource]="dataSource" matSort>
                        <ng-container matColumnDef="serialNumber">
                            <th mat-header-cell *matHeaderCellDef > SL No. </th>
                            <td mat-cell *matCellDef="let role;let i=index">{{(i+1) + (paginator.pageIndex * paginator.pageSize)}}</td>
                        </ng-container>
                        <ng-container matColumnDef="name">
                            <th mat-header-cell  *matHeaderCellDef mat-sort-header>Name</th>
                            <td mat-cell *matCellDef="let role">{{role.name}}</td>
                        </ng-container>
                        <ng-container matColumnDef="edit">
                            <th mat-header-cell *matHeaderCellDef>Edit</th>
                            <td mat-cell *matCellDef="let role">
                                <!-- <button mat-icon-button (click)="editButtonClicked(role)" class="icon-button-small"> -->
                                    <!-- <mat-icon color="primary">edit</mat-icon> -->
                                    <i class="fa fa-pencil" aria-hidden="true" (click)="editButtonClicked(role)" style="padding: 0px 5px; cursor: pointer; "></i>
                                <!-- </button> -->
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="delete">
                            <th mat-header-cell *matHeaderCellDef>Delete</th>
                            <td mat-cell *matCellDef="let role">
                                <!-- <button mat-icon-button (click)="deleteButtonClicked(role)" inline="true" class="icon-button-small"> -->
                                    <!-- <mat-icon color="warn">delete_forever</mat-icon> -->
                                    <i class="fa fa-trash" aria-hidden="true" (click)="deleteButtonClicked(role)" style="padding: 0px 5px; cursor: pointer; "></i>
                                <!-- </button> -->
                            </td>
                        </ng-container>
                                         
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;let i=index;" ></tr>
            
                    </table>
                    <mat-paginator [pageSizeOptions]="[10,20,50,100]" showFirstLastButtons aria-label="Select page of periodic elements" class="mt-3"></mat-paginator>
            
                </div>
        </div>
    </div>
</div>
</div>