*{
  font-size: 0.875rem;
}


.custom-form {
  // max-width: 600px;
  margin: 0 auto;
  // padding: 20px;
  background-color: #fff;
 
}

.tagname {
  font-size: 16px;
}

.form-row{
  display: grid;
  grid-template-columns: repeat(3, 0.8fr);
  gap: 16px;
}

.form-group mat-label {
  display: block;
  color: #0136ff;
  margin-bottom: 0.5rem;
}

.form-group input,
.form-group textarea{
  padding: 0.25rem 0.5rem;
  margin-bottom: 15px;
  border-radius: 0.25rem;
  border-color: rgba(120,130,140,.2);
  display: block;
  width: 90%;
  line-height: 1.25;
  border: 1px solid rgba(0,0,0,0.15);
}

.form-group select, mat-select {
  padding: 1px 0.5rem;
  margin-bottom: 15px;
  border-radius: 0.25rem;
  border-color: rgba(120,130,140,.2);
  display: block;
  width: 90%;
  line-height: 1.25;
  border: 1px solid rgba(0,0,0,0.15);
}

.form-row .checkbox{
  display: flex;
  align-items: center;
  color: #002bff;
}


.button-group {
  grid-column: span 2;
  // margin-top: 16px;
  margin: 5px 16px 12px;
  text-align: right;
}

// .button-group button {
//   margin-left: 8px;
//   height: 30px;
//   border-radius: 25px;
// }

.btn-rounded{
  padding-left: 1.2em;
  padding-right: 1.2em;
  border-radius: 500px;
  background-color: #002bff;
  color: white;
  border: 0px;
  margin: 2px;
}

mat-divider {
  display: block;
  margin: 0;
  margin-bottom: 12px;
  border-top-width: 0.5px;
  border-top-style: dotted;
}
