// .table-container {
//   display: flex;
// }

// .table {
//   flex: 1; 
//   margin-left: 20px;
//   margin-right: 15px;
// }

// .table-header {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   width: 100%;
//   padding: 4px 0px;
//   background-color: #f0f0f0;
//   border-bottom: 1px solid #ccc;
// }

//   .tagname{
//     text-align: center;
//     font-size: 16px;
//   }

// .mat-mdc-table .mdc-data-table__header-row {
//   height: 40px;
// }

// .mat-mdc-table .mdc-data-table__row {
//   height: 30px;
// }

// tr th, td{
//   font-size: 12px;
// }
// tr th{
//   // font-weight: 600;
//   color: blue;
// }

// .filter-input {
//   flex-grow: 1;
//   margin-right: 10px;
// }


// .details {
//   flex-shrink: 0; 
//   width: 70%;
//   margin-left: 5px; 
// } 

// .details h2 {
//   color: #4caf50;
//   border-bottom: 2px solid #4caf50;
//   padding-bottom: 5px;
// }

// .details p {
//   margin: 5px 0;
// }

// .form-group {
//   margin: 0px 5px;
//   width: 100%;
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
// }

// .form-row{
//   display: flex;
//   width: 100%;
//   align-items: center;
// }

// .form-group mat-label {
// margin: 0px 6px;
// }

// .form-group input{
//   width: 100%;
//   padding: 8px;
//   border: 1px solid #ccc;
//   border-radius: 4px;
//   box-sizing: border-box;
// }

*{
  font-size: 0.875rem;
  font-family: 'Gudea',"Helvetica Neue",HelveticaNeue-Light,Helvetica,Arial,sans-serif;
}

.details h2 {
  color: #4caf50;
  border-bottom: 2px solid #4caf50;
  padding-bottom: 5px;
}

.details p {
  margin: 5px 0;
}


.table-container {
  display: flex;
}

.main-container{
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-right: 3.5rem;
} 

.table {
  // flex: 1; 
  margin-left: 20px;
  margin-right: 15px;
}

// .table-header {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   width: 100%;
//   border-bottom: 1px solid #ccc;
//   line-height: 1.5;
// }

// .table-header .filter-card {
//   display: flex;
//   align-items: center;
//   width: 90%;
// }

.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #ccc;
  line-height: 1.5;
}

.table-header .filter-card {
  display: flex;
  align-items: center;
  width: 90%;
}

.mat-label {
  margin-right: 10px;
}

input {
  padding: 0.25rem 0.5rem;
  // margin-bottom: 15px;
  border-radius: 0.25rem;
  border-color: rgba(120,130,140,.2);
  display: block;
  width: 100%;
  line-height: 1.25;
  border: 1px solid rgba(0,0,0,0.15);
}

.tagname {
  // text-align: center;
  font-size: 30px;
  font-family: inherit;
  // margin-top: 10px;
    //venky 10/10 added css
    margin-left: 20px;
    width: 100%;
    // ainan-06jan25
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;


}
// venky 10/10 added css for align center
::ng-deep .mat-sort-header-container{
  justify-content: center;
}
.mat-mdc-table .mdc-data-table__header-row {
  height: 40px;
}

.mat-mdc-table .mdc-data-table__row {
  height: 30px;
}

// tr th, td{
//   font-size: 12px;
// }
tr th{
  padding-left: 0px;
}
tr th{
  // font-weight: 600;
  // color: blue;
  color: black;
}

.filter-input {
  flex-grow: 1;
  margin-right: 10px;
}

.table>:not(caption)>*>* {
  padding: 0px;
}


.details {
  flex-shrink: 0; 
  width: 60%;
  margin-left: 5px; 
} 

.details h2 {
  color: #4caf50;
  border-bottom: 2px solid #4caf50;
  padding-bottom: 5px;
}

.details p {
  margin: 5px 0;
}

.form-group {
  // margin: 0px 5px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-row{
  display: flex;
  width: 100%;
  align-items: center;
}

.form-group mat-label {
margin: 0px 6px;
}

.form-group input{
  width: 100%;
  // padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.select{
  margin-left: 20px;
  width: 50%;
}
.select select {
  padding: 1px 0.5rem;
  margin-bottom: 15px;
  border-radius: 0.25rem;
  border-color: rgba(120,130,140,.2);
  display: block;
  width: 90%;
  line-height: 1.25;
  border: 1px solid rgba(0,0,0,0.15);
}
// .btn-rounded {
//   flex: 1;
//   // width: 25% !important; /* Example with !important */
//   padding-left: 1.2em !important;
//   padding-right: 1.2em !important;
//   border-radius: 500px;
//   background-color: #002bff;
//   color: white;
//   border: 0px;
//   // height: 22px !important;
// }


.btn-rounded {
  // display: inline-flex;
  padding: 4px;
  padding-left: 1.2em !important;
  padding-right: 1.2em !important;
  // border-radius: 500px;
  background-color: #bcbec0;
  border: 0px;
  width: 101px;
  margin: 10px;
  height: 30px;
  flex: 1;
}

.modal-backdrop {
  display: none !important;
  z-index: 0 !important;
  -bs-backdrop-zindex: 0 !important;
}
.badge{
  // border-radius: 500px;
  border: 0px;
  height: 35px !important;
  width: 80px !important;
  background-color: #bcbec0!important;
  color: black;
}