
// body, html {
//   overflow: hidden;
//   height: 100%;
//   margin: 0;
// }

//   .login {
//     margin-bottom: 15px;
//   }
  
//   .password {
//     margin-bottom: 15px;
//     background-color:#ffffff !important;
//     // border: 1px solid rgb(33, 214, 39); 
//     border-radius: 4px; 
//     padding: 8px;
//     box-sizing: border-box;
//   }
  
//   mat-form-field {
//     width: 100%;
//   }
//   matInput{
//     background-color: #ffffff;
//   }
  
//   .login-input {
//     width: calc(100% - 16px); 
//   }
  
//   .login-button {
//     width: 100%;
//     height: 58px;
//     margin-top: 20px;
//     background-color: rgb(33, 214, 39);
//     color: #ffffff;
//   }
  
//   .login-button:hover {
//     background-color: #45a049;
//   }
  
//   .tagname {
//     text-align: center;
//     font-size: 25px;
//     font-weight: bold;
//     margin-bottom: 20px;
//   }


//   .container {
//     display: flex;
//     width: 100%;
//   height: 100%;
//   }
  
//   .image-container {
//     width: 70%;
//     box-sizing: border-box;
//   }
  
//   .image-container img {
//     width: 100%;
//     height: auto;
//     display: block;
//   }
//   .login-card {
//     max-width: 100%;
//     margin: auto;
//     // height: 100vh;
//     overflow: auto;
//     border: 1px solid rgb(33, 214, 39);
//     border-radius: 8px; 
//     padding: 20px;
//     width: 100%;
//     margin-left: 23px;
//     top: 84px;

//   }

//   .login-container {
//   width: 30%;
//   padding: 20px; 
//   box-sizing: border-box; 
// }
  


// .forgot-password {
//   text-align: center;
//   margin-top: 10px;
// }

// .forgot-password a {
//   color: #555;
//   text-decoration: none;
//   font-size: 14px;
// }





// .login-page {
//   overflow: auto; 
//   height: auto;
//   margin: 0;
// }


// .login-page .container {
//   height: 100%;
// }

// .login-page .image-container {
//   width: 100%;
// }

// .login-page .image-container img {
//   width: 150vh;
//   margin-left: -110px;
//   height: 100vh;
//   display: block;
// }






// body, html {
//   overflow: hidden;
//   height: 100%;
//   margin: 0;
// }

// .login {
//   margin-bottom: 15px;
// }

// .password {
//   margin-bottom: 15px;
// }

// .login-input {
//   width: 100%;
//   padding: 10px;
//   margin-bottom: 10px;
//   box-sizing: border-box;
//   border: 1px solid #ccc;
//   border-radius: 5px;
// }

// .input-container {
//   margin-bottom: 15px;
// }

// .login-button {
//   width: 100%;
//   height: 40px;
//   margin-top: 20px;
//   background-color: #0136ff;
//   color: #ffffff;
//   border: none;
//   border-radius: 5px;
//   cursor: pointer;
// }

// .login-button:hover {
//   background-color: #45a049;
// }

// .tagname {
//   text-align: center;
//   font-size: 25px;
//   font-weight: bold;
//   margin-bottom: 20px;
// }

// .container {
//   display: flex;
//   width: 100%;
//   height: 100%;
// }

// .image-container {
//   position: relative;
//   width: 70%;
//   box-sizing: border-box;
// }

// .image-container img {
//   width: 100%;
//   height: auto;
//   display: block;
// }

// .login-container {
//   width: 40%;
//   padding: 20px;
//   box-sizing: border-box;
//   margin-top: 126px;
// }

// .forgot-password {
//   text-align: center;
//   margin-top: 10px;
// }

// .forgot-password a {
//   color: #555;
//   text-decoration: none;
//   font-size: 14px;
// }

// .login-page {
//   overflow: auto;
//   height: auto;
//   margin: 0;
// }

// .login-page .container {
//   height: 100%;
// }

// .login-page .image-container {
//   width: 100%;
// }

// .login-page .image-container img {
//   width: 139vh;
//   margin-left: -110px;
//   height: 100vh;
//   display: block;
// }

// .password-icon {
//   position: absolute;
//   right: 10px;
//   top: 60%;
//   transform: translateY(-50%);
//   cursor: pointer;
//   color: #555;
// }

// .password {
//   position: relative;
// }

// .logo-container {
//   position: absolute;
//   top: 10px;
//   left: 10px;
//   width: 100px; 
//   height: auto;
//   z-index: 1000; 
// }

// .logo-container img {
//   width: 100px;
//   height: auto;
// }







//updated code

.main {
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  padding: 0px;
}

.column {
  flex: 1;
  min-width: 50%;
  height: 100vh;
}

img{
  height: 100vh;
  width: 100%;
}

.login-container {
// width: 50%;
// padding: 20px;
// box-sizing: border-box;
// margin: auto;
  /* width: 100%; */
  padding: 20px;
  box-sizing: border-box;
  margin: auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  // position: relative;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // height: 90vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #e4e3e3;
  border-radius: 12px;
  box-shadow: 3px 1px #f9f9f9;
  padding: 40px;
  width: 70%;
}

.login-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input-container {
  margin-bottom: 15px;
}

.login-button {
  width: 100%;
  height: 40px;
  margin-top: 20px;
  background-color: #0136ff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #45a049;
}

.tagname {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
}

.forgot-password {
  text-align: center;
  margin-top: 10px;
}

.forgot-password a {
  color: #555;
  text-decoration: none;
  font-size: 14px;
}

.password{
  position: relative;
}

.password-icon {
  position: absolute;
  right: 10px;
  top: 40%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #555;
}

/* Media query for responsiveness */
@media screen and (max-width: 700px) {
  .container {
    flex-direction: column;
  }
  .column:nth-child(1) {
    display: none;
  }
}