// mat-toolbar{
//     background-color: #333367;
//   }
//   .mat-mdc-cell {
//     font-size: 11px;
//   }
//   .icon-btn {
//     background-color: inherit;
//     border: none;
//     position: relative;
//     mat-icon {
//       font-size: 20px;
//       display: flex;
//       position: absolute;
//       top: 50%;
//       left: 50%;
//       transform: translate(-50%, -50%);
//       color: #f44336;
//     }
//   }
  
//   .demo-button-container {
//     padding-bottom: 16px;
//   }
  
//   .demo-button + .demo-button {
//     margin-left: 8px;
//   }
//   .mat-mdc-form-field {
//     width: 50%;
//     margin-right: 10px;
//   }
  
//   .add-button {
//     margin-left: 10px; /* Adjust margin as needed */
//     margin-right: 20px;
//     background-color: #059142;
//   }
  
//   .striped-row {
//     background-color: #f2f2f2; /* Set the background color for striped rows */
//   }
  
//   .hovered-row {
//     background-color: #d9d9d9 !important;
//   }
//   .mat-elevation-z8 {
//     max-height: 450px; /* Adjust the height as needed */
//     overflow-y: auto; /* Add vertical scroll if needed */
//   }
  
//   .save-button {
//     width: 120px;
//   }
  
//   .mat-mdc-table .mdc-data-table__row {
//     height: 34px;
//   }
//   .mat-mdc-table .mdc-data-table__header-row {
//     height: 34px;
//   }
//   .tagname {
//     text-align: center;
//     font-size: 36px;
//     font-family: inherit;
//   }

*{
  font-size: 0.875rem;
}

.table-container {
  display: flex;
}

.main-container{
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-right: 3.5rem;
}

.table {
    // flex: 1; 
    margin-left: 20px;
    margin-right: 15px;
    table{
      border: 1px solid rgba(0, 0, 0, 0.12);
      // background: #f6fafb;
    }
  }

.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
//   border-bottom: 1px solid #ccc;
//   line-height: 1.5;
}

.table-header .filter-card {
  display: flex;
  align-items: center;
  width: 90%;
}

input {
  padding: 0.25rem 0.5rem;
  // margin-bottom: 15px;
  border-radius: 0.25rem;
  border-color: rgba(120,130,140,.2);
  display: block;
  width: 100%;
  border: 1px solid rgba(0,0,0,0.15);
}
.tagname {
  text-align: center;
  font-size: 30px;
  font-family: inherit;
  margin-top: 10px;
}

.mat-mdc-table .mdc-data-table__header-row {
  height: 40px;
}

.mat-mdc-table .mdc-data-table__row {
  height: 30px;
}


tr th{
  // color: blue;
  color: black;
}


.btn-rounded {
  flex: 1;
  // border-radius: 500px;
  // background-color: #002bff;
  // color: white;
  background-color: #bcbec0;
  color: black;
  border: 0px;
  margin: 2px;
  height: 26px;
}

//   .add-button {
//     margin-left: 10px; /* Adjust margin as needed */
//     margin-right: 20px;
//     background-color: #059142;
//     mat-icon.mat-icon.notranslate.material-icons.mat-ligature-font.mat-icon-no-color{
//         border-radius: 50%;
//     }
//   }


.icon-btn {
    background-color: inherit;
    border: none;
    position: relative;
    mat-icon {
      font-size: 20px;
      display: flex;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: black;
    }
  }
