

*{
  font-size: 0.875rem;
}

.table-container {
  display: flex;
  // margin: 30px !important;
}
.main-container{
  display: flex;
  flex-direction: column;
  flex: 1;


  //venky 10/10 added 
  // margin-right: 3.5rem;
  margin-right: 2rem;
  margin-left: 2rem;
  z-index: 0;
}

.table {
  // flex: 1; 
  // margin-left: 20px;
  // margin-right: 15px;
  table{
    border: 1px solid rgba(0, 0, 0, 0.12);
    // background: #f6fafb;
  }
}

.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #ccc;
  line-height: 1.5;
}

.table-header .filter-card {
  display: flex;
  align-items: center;
  width: 90%;
}

.mat-label {
  margin-right: 10px;
}

input {
  padding: 0.25rem 0.5rem;
  // margin-bottom: 15px;
  border-radius: 0.25rem;
  border-color: rgba(120,130,140,.2);
  display: block;
  width: 100%;
  line-height: 1.25;
  border: 1px solid rgba(0,0,0,0.15);
}

.tagname {
  text-align: center;
  font-size: 36px;
  font-family: inherit;
  margin-top: 10px;
}


.mat-mdc-table .mdc-data-table__header-row {
  height: 40px;
}

.mat-mdc-table .mdc-data-table__row {
  height: 30px;
}

tr th, td{
  padding: 5px;
}
tr th{
  // font-weight: 600;
  // color: blue;
  // updated-06jan26
  color: black;
}

.filter-input {
  flex-grow: 1;
  margin-right: 10px;
}

.table>:not(caption)>*>* {
  padding: 0px;
}
.btn-rounded {
  // display: inline-flex;
  padding: 4px;
  padding-left: 2.0em !important;
  padding-right: 1.2em !important;
  background-color: #bcbec0;
  border: 0px;
  width: 20px;
  margin: 10px;
  height: 30px;
}
.tagname {
  // text-align: center;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.badge{
  // border-radius: 500px;
  border: 0px;
  height: 35px !important;
  width: 80px !important;
  background-color: #bcbec0!important;
  color: black;
}

.details {
  flex-shrink: 0; 
  width: 65%;
  // margin-left: 5px; 
} 

.details h2 {
  color: #4caf50;
  border-bottom: 2px solid #4caf50;
  padding-bottom: 5px;
}

.details p {
  margin: 5px 0;
}
.details h2 {
  color: #4caf50;
  border-bottom: 2px solid #4caf50;
  padding-bottom: 5px;
}

.details p {
  margin: 5px 0;
}
.grid-content {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 56px;
  align-items: center;
}
mat-icon {
  // margin-right: 8px; 
  margin-left: -10px;
  font-size: 24px;
}
.hide-container{
  display: none;
}
@media screen and (max-width: 768px) { 
  .details {
    width: 100%;
  } 
}