
<p class="tagname">Change Password</p>
<!-- <body class="login-page"> -->
    <mat-divider style="margin: 20px; color: aqua; background-color: #33BABC;" ></mat-divider>

    <div class="container">
      <form [formGroup]="changePasswordForm" class="login-container">
        <div class="login-card">
       
  
          <div class="input-container">
            <mat-label>Current Password</mat-label>
            <input required="true" type="password" placeholder="Current Password" formControlName="currentPassword" class="login-input">
             <!-- <div class="error-message" *ngIf="loginForm.get('emailId') && loginForm.get('userId')!.invalid">
              {{ getErrorMessage() }}
            </div> -->
          </div>
          <div class="input-container">
            <mat-label>Changed Password</mat-label>
            <input required="true" type="password" placeholder="Changed Password" formControlName="newPassword" class="login-input">
             <!-- <div class="error-message" *ngIf="loginForm.get('emailId') && loginForm.get('userId')!.invalid">
              {{ getErrorMessage() }}
            </div> -->
          </div>
          <div class="input-container">
            <mat-label>Confirm Password</mat-label>
            <input required="true" type="password" placeholder="Confirm Password" formControlName="confirmPassword" class="login-input">
             <!-- <div class="error-message" *ngIf="loginForm.get('emailId') && loginForm.get('userId')!.invalid">
              {{ getErrorMessage() }}
            </div> -->
          </div>
          <button type="submit" class="login-button" matTooltip="Save" [disabled]="changePasswordForm.invalid"  (click)="saveButtonClicked()" >Save</button>
        </div>
        <ul style="margin-right:auto; margin-left: auto; font-size: larger; color: crimson;">
            <li>Passwords must be at least 8 characters long.</li>
            <li>Passwords must contain at least one uppercase letter.</li>
            <li>Passwords must contain at least one lowercase letter.</li>
            <li>Passwords must contain at least one number.</li>
            <li>Passwords must contain at least one special character (such as !, #, $, etc.)</li>
        </ul>
      </form>
    </div>
  <!-- </body> -->
  