
body, html {
    overflow: hidden;
    height: 100%;
    margin: 0;
  }
  
  .login {
    margin-bottom: 15px;
  }
  
  .password {
    margin-bottom: 15px;
  }
  
  .login-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .input-container {
    margin-bottom: 15px;
  }
  
  .login-button {
    width: 100%;
    height: 40px;
    margin-top: 20px;
    // background-color: #0136ff;
    // background-color: #002bff;
    // color: #ffffff;
    background-color: #bcbec0;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login-button:hover {
    // background-color: #45a049;
    background-color: black;
    color: white;
  }
  
  .tagname {
    text-align: center;
    font-size: 30px;
    font-family: inherit;
    margin-top: 10px;
  }
  .container {
    display: flex;
    width: 100%;
    height: 100%;
  }
  
  .image-container {
    position: relative;
    width: 70%;
    box-sizing: border-box;
  }
  
  .image-container img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .login-container {
    width: 40%;
    padding: 20px;
    box-sizing: border-box;
    display: contents;
  }
  
  .forgot-password {
    text-align: center;
    margin-top: 10px;
  }
  
  .forgot-password a {
    color: #555;
    text-decoration: none;
    font-size: 14px;
  }
  
  .login-page {
    overflow: auto;
    height: auto;
    margin: 0;
  }
  
  .login-page .container {
    height: 100%;
  }
  
  .login-page .image-container {
    width: 100%;
  }
  
  .login-page .image-container img {
    width: 139vh;
    margin-left: -110px;
    height: 100vh;
    display: block;
  }
  
  .password-icon {
    position: absolute;
    right: 10px;
    top: 60%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #555;
  }
  
  .password {
    position: relative;
  }
  
  .logo-container {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100px; 
    height: auto;
    z-index: 1000; 
  }
  
  .logo-container img {
    width: 100px;
    height: auto;
  }