.Button{
    margin-left: 20px !important;
}

.title{
  
    background-color: cadetblue;
    color: white;
}

.content{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 35px;
}

.btn{
    justify-content: center;
    background:none;
}