<div class="title">

  <h2 matDialogTitle style="display: flex; align-items: center; justify-content: center; color:white;" >Create Confirmation</h2>

</div>
<div matDialog-content class="content">
    <p>Are you sure that you want to create a case ?</p>
</div>
<!-- <div matDialogActions class="btn" style="background: none;background-color: white;box-shadow: none;">
    <button mat-raised-button   style="background-color: #0400ff; color: white; box-shadow: none;" (click)="confirmSubmit()">Yes</button>
    <button mat-raised-button style="margin-left: 20px;" style="background-color: red; color: white;  box-shadow: none;" (click)="closeDialog()">No</button>
    
</div> -->
<div class="modal-footer" style="display: flex; justify-content: center;">
  <button mat-flat-button class="btn btn-primary" style="background-color: #1b9936; color: white; box-shadow: none;" (click)="confirmSubmit()">Yes</button>
  <button mat-flat-button class="btn btn-danger"  style=" margin-left: 20px; background-color: red; color: white;  box-shadow: none;"  (click)="closeDialog()">No</button>
  
</div>