
ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input, textarea {
  // width: 100%;
  // padding: 5px;
  // margin-bottom: 10px;
}

button {
  // background-color: #4CAF50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #002bff ;
}

.color-option {
  display: flex;
  align-items: center;
}

.color-box {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  border-radius: 50%;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.Green {
  background-color: Green;
}
.Violet {
  background-color: Violet;
}
.Indigo {
  background-color: Indigo;
}
.Yellow {
  background-color: Yellow;
}
.Orange {
  background-color: Orange;
}
.Pink {
  background-color: Pink;
}
.Grey {
  background-color: Grey;
}
.Purple {
  background-color: Purple;
}

.btn-rounded{

  position: absolute;
  padding: 8px !important;
  border-radius: 500px;
  background-color: #002bff;
  color: white;
  border: 0px;
  // width: 70px;
  left: 85%;
  margin: -19px;
}

// .tagname {
//   text-align: center;
//   font-size: 25px;
//   font-weight: bold;
//   margin-bottom: 20px;
// }





body, html {
overflow: hidden;
height: 100%;
margin: 0;
}

.login {
margin-bottom: 15px;
}

.password {
margin-bottom: 15px;
}

.login-input {
width: 100%;
padding: 10px;
margin-bottom: 10px;
box-sizing: border-box;
border: 1px solid #ccc;
border-radius: 5px;
}

.input-container {
margin-bottom: 15px;
}

.login-button {
width: 100%;
height: 40px;
margin-top: 20px;
background-color: #0136ff;
color: #ffffff;
border: none;
border-radius: 5px;
cursor: pointer;
}

.login-button:hover {
background-color: #45a049;
}

.tagname {
text-align: center;
font-size: 25px;
font-weight: bold;
margin-bottom: 20px;
}

.container {
display: flex;
width: 100%;
height: 100%;
}

.image-container {
position: relative;
width: 70%;
box-sizing: border-box;
}

.image-container img {
width: 100%;
height: auto;
display: block;
}

.login-container {
width: 40%;
padding: 20px;
box-sizing: border-box;
margin-top: 126px;
}

.forgot-password {
text-align: center;
margin-top: 10px;
}

.forgot-password a {
color: #555;
text-decoration: none;
font-size: 14px;
}

.login-page {
overflow: auto;
height: auto;
margin: 0;
}

.login-page .container {
height: 100%;
}

.login-page .image-container {
width: 100%;
}

.login-page .image-container img {
width: 139vh;
margin-left: -110px;
height: 100vh;
display: block;
}

.password-icon {
position: absolute;
right: 10px;
top: 60%;
transform: translateY(-50%);
cursor: pointer;
color: #555;
}

.password {
position: relative;
}

.logo-container {
position: absolute;
top: 10px;
left: 10px;
width: 100px; 
height: auto;
z-index: 1000; 
}

.logo-container img {
width: 100px;
height: auto;
}