<!-- <p class="tagname">University Details</p> -->
<h1 class="tagname">University Details</h1>
<mat-divider style="margin: 20px; color: aqua; background-color: #33BABC;" ></mat-divider>
<form [formGroup]="universityDetailsForm" (ngSubmit)="saveButtonClicked()" class="custom-form">
        <div class="form-content">
            <div class="form-row">
                <div class="form-group">
                    <mat-label>Name</mat-label>
                    <input matInput formControlName="name" [value]="selectedRow?.name">
                </div>
                <div class="form-group">
                    <mat-label>Phone No.</mat-label>
                    <input matInput formControlName="phone" type="number" maxlength="12" [value]="selectedRow?.phone">
                </div>
                <div class="form-group">
                    <mat-label>Email ID</mat-label>
                    <input matInput formControlName="email" [value]="selectedRow?.email">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    <mat-label>Records Digitalized from Date</mat-label>
                    <input matInput formControlName="digitizedRecordDate" [value]="selectedRow?.digitizedRecordDate">
                    <!-- <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-hint>dd/MM/yyyy</mat-hint>
                    <mat-datepicker #picker></mat-datepicker> -->
                </div>
                <div class="form-group">
                    <mat-label>Address</mat-label>
                    <textarea matInput formControlName="address" [value]="selectedRow?.address" rows="1"> </textarea>
                </div>
                <div class="form-group">
                    <mat-label>PIN</mat-label>
                    <input matInput formControlName="pinCode" type="number" maxlength="6" matInput size="6"
                        [value]="selectedRow?.pinCode">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    <mat-label>City/Distruct</mat-label>
                    <input matInput formControlName="district" [value]="selectedRow?.district">
                </div>
                <div class="form-group">
                    <mat-label>State</mat-label>
                    <input matInput formControlName="state" [value]="selectedRow?.state">
                </div>
                <div class="form-group">
                    <mat-label>Country</mat-label>
                    <mat-select formControlName="country" [value]="selectedRow?.country">
                        <mat-option [value]="item" *ngFor="let item of countrylist">
                            {{item}}
                        </mat-option>
                    </mat-select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <mat-label>Verification Fee (₹-)</mat-label>
                    <input matInput formControlName="verificationFee" [value]="selectedRow?.verificationFee">
                </div>
                <div class="form-group">
                    <mat-label>No. of Days for Verification</mat-label>
                    <input matInput formControlName="daysforverification" [value]="selectedRow?.daysforverification">
                </div>
                <div class="form-group">
                    <mat-label>Concern Person</mat-label>
                    <input matInput formControlName="concernperson" [value]="selectedRow?.concernperson">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <mat-label>Institute Status</mat-label>
                    <mat-select formControlName="institutestatus" [value]="selectedRow?.institutestatus">
                        <mat-option value="Autonomous">Autonomous</mat-option>
                        <mat-option value="Private">Private</mat-option>
                        <mat-option value="Government">Government</mat-option>
                    </mat-select>
                </div>
                <div class="form-group">
                    <mat-label>Designation</mat-label>
                    <input matInput formControlName="designation" [value]="selectedRow?.designation">
                </div>
                <div class="form-group">
                    <mat-label>Mode of Verification</mat-label>
                    <mat-select formControlName="modeofverification" [value]="selectedRow?.modeofverification">
                        <mat-option value="email">Email</mat-option>
                        <mat-option value="verbel">Verbel</mat-option>
                        <mat-option value="written">Written</mat-option>
                        <mat-option value="post">Post</mat-option>
                        <mat-option value="direct">Direct</mat-option>
                        <mat-option value="online">Online</mat-option>
                        <mat-option value="offline">Offline</mat-option>
                    </mat-select>
                </div>
            </div>
                <div class="form-row">
                <div class="form-row checkbox">
                    <input  formControlName="onlineVerificationPossible" type="checkbox" id="onlineVerificationPossible" name="onlineVerificationPossible" [value]="selectedRow?.onlineVerificationPossible">
                    <label for="onlineVerificationPossible">Online Verification Possible</label>

                    <input type="checkbox" id="fakeUniversity" name="fakeUniversity" formControlName="fakeUniversity"  [value]="selectedRow?.fakeUniversity">
                    <label for="fakeUniversity">Is a fake university</label>
                    <!-- <mat-checkbox color="primary" formControlName="onlineVerificationPossible"
                        [value]="selectedRow?.onlineVerificationPossible"><span class="span-label">Online Verification Possible</span></mat-checkbox>
                    <mat-checkbox color="primary" formControlName="fakeUniversity" [value]="selectedRow?.fakeUniversity">
                        <span class="span-label">Is a fake university</span></mat-checkbox> -->
                </div>
            </div>
        </div>

        <div class="button-group">
            <button class="btn-rounded" type="submit">Save</button>
            <button class="btn-rounded" (click)="cancelButtonClicked($event)">Cancel</button>
        </div>
</form>