.add-button {
    margin-left: 10px;
    margin-right: 20px;
    background-color: #059142;
  }
 
  .mat-elevation-z8 {
    max-height: 450px;
    overflow-y: auto; 
  }
   
  .mat-mdc-table .mdc-data-table__row {
    height: 38px;
  }
  .mat-mdc-table .mdc-data-table__header-row {
    height: 38px;
  }

  .mat-mdc-icon-button.mat-mdc-button-base {
   
    padding: 0px;
}

.full-width {
  width: 100%;
}

.with-details {
  width: 100%; /* Adjust the percentage based on your requirements */
}

.components-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 2;
  flex-direction: column;
  box-sizing: border-box;
  margin: 10px; 
  padding: 0;

  .component-list-component{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
}

.btn-save{
  background: #bcbec0;
  color: black;
  border: none;
}

@media screen and (min-width:1200px) {
  .components-wrapper{
    flex-direction: row;
    .component-details-component{
      width: 50%;
    }
  }

}


@media screen and (max-width:1199px) {
  .components-wrapper{
    .component-details-component{
      width: 100%;
    }
  }

}

.tagname {
  text-align: center;
  font-size: 30px;
  font-family: inherit;
}

.btn-rounded{
  padding: 4px;
  padding-left: 1.2em !important;
  padding-right: 1.2em !important;
  // border-radius: 500px;
  // background-color: #002bff;
  // color: white;
  background-color: #bcbec0;
  color: black;
  border: 0px;
  margin-left: 50px;

}