
*{
  font-size: 0.875rem;
}

.table-container {
  display: flex;
}

.main-container{
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-right: 1.5rem;
}

.table {
  // flex: 1; 
  margin-left: 20px;
  margin-right: 15px;
  table{
    border: 1px solid rgba(0, 0, 0, 0.12);
    background: #f6fafb;
  }
}

.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #ccc;
  line-height: 1.5;
}

.table-header .filter-card {
  display: flex;
  align-items: center;
  width: 90%;
}

.mat-label {
  margin-right: 10px;
}

input {
  padding: 0.25rem 0.5rem;
  // margin-bottom: 15px;
  border-radius: 0.25rem;
  border-color: rgba(120,130,140,.2);
  display: block;
  width: 100%;
  line-height: 1.25;
  border: 1px solid rgba(0,0,0,0.15);
}

.tagname {
  font-size: 16px;
  margin-left: 20px;
}


.mat-mdc-table .mdc-data-table__header-row {
  height: 40px;
}

.mat-mdc-table .mdc-data-table__row {
  height: 30px;
}

tr th, td{
  padding: 5px;
}
tr th{
  // font-weight: 600;
  color: blue;
}

.filter-input {
  flex-grow: 1;
  margin-right: 10px;
}

.table>:not(caption)>*>* {
  padding: 0px;
}

.btn-rounded {
  display: inline-flex;
  padding: 4px;
  padding-left: 1.2em !important;
  padding-right: 1.2em !important;
  border-radius: 500px;
  background-color: #002bff;
  color: white;
  border: 0px;
}

mat-icon {
  margin-right: 8px; 
  font-size: 24px;
}

.details {
  flex-shrink: 0; 
  width: 70%;
  margin-left: 10px; 
}

.form-group {
  margin: 0px 5px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-group input{
  width: 85%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

mat-select {
  width: 20%;
  padding: 2px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-row{
  display: flex;
  width: 100%;
  align-items: center;
}

 mat-label {
  font-size: 14px;
  margin: 0px 6px;
}


