<div class="table-container">
  <div class="main-container">
    <h1 class="tagname">Analysis Types</h1>
    <div class="table" >
   <div>
     <mat-label>Analysis Type</mat-label>
     <mat-select [(ngModel)]="selectedAnalysisType" (selectionChange)="analysisTypeSelectionChanged($event)">
       <mat-option *ngFor="let analysisTypes of analysisTypes" value={{analysisTypes._id}} >{{analysisTypes.name}}</mat-option>      
     </mat-select>
   </div>
     <div class="header">
     <div class="table-header">
       <div class="filter-card">
         <input matInput (keyup)="applyFilter($event)" placeholder="Search" #input>
       </div>
       <button class="btn-rounded" (click)="addAnalysisTypeDetailsClicked()">
           <mat-icon>add</mat-icon>
       </button>
       <!-- <button class="btn-rounded" (click)="addUniversityDetailsClicked()">Add</button> -->
     </div>
       <table mat-table [dataSource]="dataSource" matSort>
   
   
         <ng-container matColumnDef="serialNumber">
           <th mat-header-cell *matHeaderCellDef mat-sort-header> SL No. </th>
           <td mat-cell *matCellDef="let row; let i = index" (click)="showDetails(row)">
             {{ i + 1 + myPaginator.pageIndex * myPaginator.pageSize }}
           </td>
         </ng-container>
         
   
         <!-- Progress Column -->
         <ng-container matColumnDef="name">
           <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
           <td mat-cell *matCellDef="let row" (click)="showDetails(row)"> {{row.name}}</td>
         </ng-container>
   
      
   
         <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
         <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
   
         <tr class="mat-row" *matNoDataRow>
           <td class="mat-cell" [attr.colspan]="displayedColumns.length">No data matching the filter "{{input.value}}"</td>
         </tr>
   
   
   
       </table>
       <mat-paginator  #myPaginator [pageSizeOptions]="[10, 25, 100]" aria-label="Select page of users"></mat-paginator>
   </div>
   </div>
  </div>
<div class="details" *ngIf="showDetailsFlag" >
  <div *ngIf="selectedRow">
    <app-analysis-code-details [selectedRow]="selectedRow"></app-analysis-code-details>
  </div>
</div>
</div>