
*{
  font-size: 0.875rem;
}

.details {
  flex-shrink: 1; 
  width: 50%;
  margin-left: 5px; 
} 

.table-container {
  display: flex;
}

.main-container{
  // width: 45%;
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-right: 3.5rem;
}

.table {
  // flex: 1; 
  margin-left: 20px;
  margin-right: 15px;
}

.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #ccc;
  line-height: 1.5;
}

.table-header .filter-card {
  display: flex;
  align-items: center;
  width: 90%;
}

.mat-label {
  margin-right: 10px;
}

input {
  padding: 0.25rem 0.5rem;
  // margin-bottom: 15px;
  border-radius: 0.25rem;
  border-color: rgba(120,130,140,.2);
  display: block;
  width: 100%;
  line-height: 1.25;
  border: 1px solid rgba(0,0,0,0.15);
}

.tagname {
  text-align: center;
  // font-size: 36px;
  font-size: 30px;
  font-family: inherit;
  margin-top: 10px;
}

.mat-mdc-table .mdc-data-table__header-row {
  height: 40px;
}

.mat-mdc-table .mdc-data-table__row {
  height: 30px;
}

// tr th, td{
//   font-size: 12px;
// }
tr th{
  padding-left: 0px;
}
tr th{
  // font-weight: 600;
  // color: blue;
  color: black;
}

.filter-input {
  flex-grow: 1;
  margin-right: 10px;
}

.table>:not(caption)>*>* {
  padding: 0px;
}

.form-group {
  // margin: 0px 5px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-row{
  display: flex;
  width: 100%;
  align-items: center;
}

.form-group mat-label {
margin: 0px 6px;
}

.form-group input{
  width: 100%;
  // padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.select{
  margin-left: 20px;
  width: 50%;
}
.select select {
  padding: 1px 0.5rem;
  margin-bottom: 15px;
  border-radius: 0.25rem;
  border-color: rgba(120,130,140,.2);
  display: block;
  width: 90%;
  line-height: 1.25;
  border: 1px solid rgba(0,0,0,0.15);
}
.btn-rounded {
  // display: inline-flex;
  padding: 4px;
  padding-left: 1.2em !important;
  padding-right: 1.2em !important;
  // border-radius: 500px;
  // background-color: #002bff;
  // color: white;
  color: black;
  background-color: #bcbec0;
  border: 0px;
  width: 101px;
  margin: 10px;
  height: 30px;
  flex: 1;
}
.modal-backdrop {
  display: none !important;
  z-index: 0 !important;
  -bs-backdrop-zindex: 0 !important;
}