<div class="container-fluid mt-3">
  <!-- <mat-toolbar class="text-white mt-3 mb-3">
    <mat-toolbar-row class="justify-content-center">
      <h2>Subclient Details</h2>
    </mat-toolbar-row>
  </mat-toolbar> -->
  <div>
    <form [formGroup]="nameForm">
      <div class="form-row">
        <div class="form-group">
          <mat-label>SubClient Name</mat-label>
          <input
          formControlName="name"
          required
          type="text"
          matInput
          placeholder="SubClient Name"
        />
        </div>
        <div class="form-group">
          <mat-label>Status</mat-label>
          <mat-select required formControlName="status">
            <mat-option value="ACTIVE">Active</mat-option>
            <mat-option value="INACTIVE">In-Active</mat-option>
          </mat-select>
        </div>
        <div class="form-group">
          <mat-label>Attached to Branch</mat-label>
          <mat-select formControlName="branch">
            <mat-option
              required
              *ngFor="let branch of branches"
              value="{{ branch._id }}"
              >{{ branch.name }}</mat-option
            >
          </mat-select>
        </div>
        <div class="form-group">
          <mat-label>CAM</mat-label>
          <input
            type="text"
            placeholder="Search users..."
            matInput
            formControlName="cam"
            [matAutocomplete]="auto"
           
          />
          <mat-autocomplete
            autoActiveFirstOption
            #auto="matAutocomplete"
            [displayWith]="displayFn"
          >
            <mat-option
              *ngFor="let user of filteredUserOptions|async"
              [value]="user"
            >
              {{ user.name }}
            </mat-option>
          </mat-autocomplete>
        </div>
      </div>
      <!-- <div class="row">
        <div class="col-12 col-sm-6 col-md-6 col-lg-5 mb-3">
          <mat-form-field appearance="outline" class="w-100">
            <input
              formControlName="name"
              required
              type="text"
              matInput
              placeholder="SubClient Name"
            />
            <mat-label>SubClient Name</mat-label>
          </mat-form-field>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-2 mb-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-select required formControlName="status">
              <mat-option value="ACTIVE">Active</mat-option>
              <mat-option value="INACTIVE">In-Active</mat-option>
            </mat-select>
            <mat-label>Status</mat-label>
          </mat-form-field>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-2 mb-3">
            <mat-form-field appearance="outline" class="w-100">
              <mat-select formControlName="branch">
                <mat-option
                  required
                  *ngFor="let branch of branches"
                  value="{{ branch._id }}"
                  >{{ branch.name }}</mat-option
                >
              </mat-select>
              <mat-label>Attached to Branch</mat-label>
            </mat-form-field>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-3">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>CAM</mat-label>
              <input
                type="text"
                placeholder="Search users..."
                matInput
                formControlName="cam"
                [matAutocomplete]="auto"
               
              />
              <mat-autocomplete
                autoActiveFirstOption
                #auto="matAutocomplete"
                [displayWith]="displayFn"
              >
                <mat-option
                  *ngFor="let user of filteredUserOptions|async"
                  [value]="user"
                >
                  {{ user.name }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
        </div>
      </div> -->
      <!-- <div class="row">
        <div class="col-md-4 mb-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-select formControlName="branch">
              <mat-option
                required
                *ngFor="let branch of branches"
                value="{{ branch._id }}"
                >{{ branch.name }}</mat-option
              >
            </mat-select>
            <mat-label>Attached to Branch</mat-label>
          </mat-form-field>
        </div>
        <div class="col-md-4 mb-3">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>CAM</mat-label>
            <input
              type="text"
              placeholder="Search users..."
              matInput
              formControlName="cam"
              [matAutocomplete]="auto"
             
            />
            <mat-autocomplete
              autoActiveFirstOption
              #auto="matAutocomplete"
              [displayWith]="displayFn"
            >
              <mat-option
                *ngFor="let user of filteredUserOptions|async"
                [value]="user"
              >
                {{ user.name }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
      </div> -->
    </form>
  </div>
  <mat-tab-group [@.disabled]="true">
    <mat-tab>
        <ng-template mat-tab-label> Contact Details </ng-template>
        <!-- <div class="container-fluid"> -->
            <form [formGroup]="contactDetailsForm" class="mb-4">
                <!-- <fieldset class="border rounded-3 p-3"> -->
                        <legend class="float-none w-auto px-3" >Contact Details</legend>
                        <div class="form-row-details">
                          <div class="form-group">
                            <mat-label>Contact Person</mat-label>
                            <input formControlName="contactPerson" matInput type="text" size="30" placeholder="Contact Person">
                          </div>
                          <div class="form-group">
                            <mat-label>Telephone</mat-label>
                            <input formControlName="telephone" matInput type="text" size="30"
                            placeholder="Telephone">
                          </div>
                          <div class="form-group">
                            <mat-label>Email</mat-label>
                            <input formControlName="email" matInput type="text" size="100" placeholder="Email">
                          </div>
                        </div>

                        <div class="form-row-details">
                          <div class="form-group">
                            <mat-label>Address</mat-label>
                            <textarea formControlName="address" required matInput rows="3"
                            placeholder="Address"></textarea>
                          </div>
                          <div class="form-group">
                            <mat-label>PIN</mat-label>
                            <input (blur)="validatePin()" formControlName="pinCode" required matInput type="text"
                            size="30" placeholder="PIN">
                          </div>
                        </div>
                        <div class="form-row-details">
                          <div class="form-group">
                            <mat-label>City / District</mat-label>
                            <input readonly required formControlName="city" required matInput type="text" size="30"
                            placeholder="City / District">
                          </div>
                          <div class="form-group">
                            <mat-label>State</mat-label>
                            <input required readonly formControlName="state" required matInput type="text" size="30"
                            placeholder="State">
                          </div>
                          <div class="form-group">
                            <mat-label>Country</mat-label>
                            <input readonly required formControlName="country" required matInput type="text"
                            size="30" placeholder="Country">
                          </div>
                        </div>
                                                 
                         <!-- <div class="row">
                            <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-3">
                                <mat-form-field appearance="outline" class="w-100">
                                    <textarea formControlName="address" required matInput rows="3"
                                        placeholder="Address"></textarea>
                                    <mat-label>Address</mat-label>
                                </mat-form-field>
                            </div>
                            <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-3">
                                <mat-form-field appearance="outline" class="w-100">
                                    <input (blur)="validatePin()" formControlName="pinCode" required matInput type="text"
                                        size="30" placeholder="PIN">
                                    <mat-label>PIN</mat-label>
                                </mat-form-field>

                            </div>

                        </div>
                        <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-3">
                                <mat-form-field appearance="outline" class="w-100">
                                    <input formControlName="contactPerson" matInput type="text" size="30"
                                        placeholder="Contact Person">
                                    <mat-label>Contact Person</mat-label>
                                </mat-form-field>
                            </div>
                            <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-3">
                                <mat-form-field appearance="outline" class="w-100">
                                    <input formControlName="telephone" matInput type="text" size="30"
                                        placeholder="Telephone">
                                    <mat-label>Telephone</mat-label>
                                </mat-form-field>
                            </div>
                            <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-3">
                                <mat-form-field appearance="outline" class="w-100">
                                    <input formControlName="email" matInput type="text" size="100" placeholder="Email">
                                    <mat-label>Email</mat-label>
                                </mat-form-field>
                            </div>
                        <div class="row">
                            <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-3">
                                <mat-form-field appearance="outline" class="w-100">
                                    <input readonly required formControlName="city" required matInput type="text" size="30"
                                        placeholder="City / District">
                                    <mat-label>City / District</mat-label>
                                </mat-form-field>
                            </div>
                            <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-3">
                                <mat-form-field appearance="outline" class="w-100">
                                    <input required readonly formControlName="state" required matInput type="text" size="30"
                                        placeholder="State">
                                    <mat-label>State</mat-label>
                                </mat-form-field>
                            </div>
                            <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-3">
                                <mat-form-field appearance="outline" class="w-100">
                                    <input readonly required formControlName="country" required matInput type="text"
                                        size="30" placeholder="Country">
                                    <mat-label>Country</mat-label>
                                </mat-form-field>
                            </div>

                        </div> -->
                <!-- </fieldset> -->
            </form>              

        <!-- </div> -->
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>Notifications</ng-template>
        <!-- <div class="container-fluid mb-3">
            <ng-container class="border rounded-3 p-3">
                <div class="mat-elevation-z8"> -->
                    <table class="table" mat-table [dataSource]="notificationsDataSource">
                        <!-- <caption></caption> -->
                        <ng-container  matColumnDef="serialNumber">
                            <th mat-header-cell *matHeaderCellDef>#</th>
                            <td mat-cell *matCellDef="let contract;let i=index">{{i+1}}</td>
                        </ng-container>
                        <ng-container matColumnDef="triggerStatus">
                            <th mat-header-cell  *matHeaderCellDef>Trigger
                                Status</th>
                            <td mat-cell *matCellDef="let notification;let i =index">
                                <select class="form-select" [(ngModel)]="notification.triggerStatus">
                                    <option value="-1">Select One</option>
                                    <option value="OUTPUTQC-ACCEPTED">Case Completion</option>
                                    <option value="CHECK-OUTPUTQC-ACCEPTED">Check Completion</option>
                                    <option value="INSUF-1-REQ-ACCEPTED">1st Level Insuff</option>
                                    <option value="INSUF-2-REQ-ACCEPTED">2nd Level Insuff</option>
                                    <option value="CLARIFICATION-REQ-ACCEPTED">Clarification and Cost Approval</option>
                                    <option value="REPORT-UPLOADED">Report Uploaded</option>
                                    <option value="ALL-INSUFF">All Insufficiencies</option>
                                    <option value="ALL-RED">All Red Cases</option>
                                </select>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="triggerColor">
                            <th mat-header-cell  *matHeaderCellDef>Trigger
                                Color</th>
                            <td mat-cell *matCellDef="let notification;let i =index">
                                <select class="form-select" [(ngModel)]="notification.triggerColor">
                                    <option value="-1">Select One</option>
                                    <option *ngFor="let colorCode of colorCodes" [value]="colorCode.color">
                                        {{colorCode.status}}</option>
                                </select>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="frequency">
                            <th mat-header-cell  *matHeaderCellDef>Frequency</th>
                            <td mat-cell *matCellDef="let notification;let i =index">
                                <select class="form-select" [(ngModel)]="notification.frequency">
                                    <option value="-1">Select One</option>
                                    <option value="DAILY">Daily</option>
                                    <option value="WEEKLY">Weekly</option>
                                    <option value="MONTHLY">Monthly</option>
                                    <option value="INCIDENT">Incident</option>
                                </select>
    
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="email" fxFlexOffset="20px" appearance="outline">
                            <th mat-header-cell  *matHeaderCellDef>Email</th>
                            <td mat-cell *matCellDef="let notification;">
                                <input class="form-control" [(ngModel)]="notification.email" matInput type="text" size="100" placeholder="Email">
                            </td>
                        </ng-container> 
                        <ng-container matColumnDef="template">
                            <th mat-header-cell  *matHeaderCellDef>Template</th>
                            <td mat-cell *matCellDef="let notification;">
                                <select class="form-select" [(ngModel)]="notification.template">
                                    <option value="-1">Select One</option>
                                    <option *ngFor="let emailtemplate of emailTemplates" value={{emailtemplate._id}}>
                                        {{emailtemplate.name}}</option>
                                </select>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="add">
                            <th mat-header-cell  *matHeaderCellDef>
                                <button  mat-icon-button
                                    (click)="addNotificationsButtonClicked()"><mat-icon>add_circle</mat-icon></button>
                            </th>
                            <td mat-cell *matCellDef="let notification">
                                <button mat-icon-button color="primary"><mat-icon>add_circle</mat-icon></button>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="delete">
                            <th mat-header-cell  *matHeaderCellDef>Delete</th>
                            <td mat-cell *matCellDef="let notification">
                                <button mat-icon-button color="warn"><mat-icon>delete</mat-icon></button>
                            </td>
                        </ng-container>    
                        <tr mat-header-row *matHeaderRowDef="notificationDisplayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: notificationDisplayedColumns;"></tr>
                    </table>    
                <!-- </div>

            </ng-container>


        </div> -->
    </mat-tab>

  </mat-tab-group>
  <!-- <div class="d-flex justify-content-between">
    <div>
    </div>
    <div>
        <button matTooltip="Go back" class="btn btn-dark text-white mt-3 mx-3 save-button"
                (click)="backButtonClicked()">Back</button>
      <button matTooltip="Save Client Details" class="btn btn-danger mt-3 mx-3 save-button" (click)="saveButtonClicked()" [disabled]="nameForm.invalid || contactDetailsForm.invalid">Submit</button>
    </div>
</div> -->
</div>
<div class="btn-wraper">
  <div>
    <button class="btn-rounded"
    (click)="backButtonClicked()">Back</button>
  <button class="btn-rounded"
    (click)="saveButtonClicked()"
    [disabled]="nameForm.invalid || contactDetailsForm.invalid">Submit</button>
  </div>
</div>
